@charset "utf-8";
/* CSS Document */

#navi
{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:13px;
	font-weight:1000;
	
	
	
}
#home
{
	background-image:url(../image/background.png);
	font-family: Verdana, Geneva, sans-serif;
	color: #FC0;
	font-size:18px;
	line-height: 18px;
	text-align:center;
	text-shadow: 0px 0px;
}
#glist
{
	background-image:url(../image/background.png);
	color: #0F0;
	text-align:center;
	text-shadow: 1px 1px #666;

}
#Creed
{
	background-image:url(../image/background.png);
	font-weight:bold;
	font-size:16px;
	color: #0F0;
	text-align:center;
	text-shadow: 1px 1px #000;
}
#lands
{
	background-image:url(../image/background.png);
	font-weight:bold;
	font-size:16px;
	color: #0F0;
	text-align:center;
	text-shadow: 1px 1px #666;
}
